body {
	padding: 0;
	margin: 0;
	font-family: 'helvetica';
	min-height: 100%;
}

.topNav {
	background:#212333;
	height: 25px;
}


.subNav {
padding: 0;
margin: 0;

background: rgba(21,201,213,0.54);

/* Rectangle 2: */

border: 1px solid transparent;
width: 100%;

margin: 0 auto;
}
.wrapper {
	width: 500px;
	margin: 0 auto;
	text-align: center;
	padding: 2em;
}
ul {
display: inline-flex;
flex-direction: row;
justify-content:  flex-end;
width: 90%;
}
h1 {
	line-height: .25;
	margin: 0;
	font-size: 5em;
	color: #ffffff;
	text-transform: uppercase;
	padding-top: 4em;
}
h2 {
	color: #212333;
	font-size: 2em;
	font-family: 'helvetica neue';
}
li {
	margin: 1em;
	padding: 0;
	line-height: 0;
	list-style: none;


	
}
span {
	text-decoration: underline;
	text-decoration-color: #80E2E8;
}
header {
	background: url("../assets/verne-ho-26448.jpg");
	background-color: #212333;
	padding: 0;
	margin: 0;
	height: 100vh;
	background-size: cover;
	background-position: 80% 75%;
	position: relative;
	background-repeat: no-repeat
}

a {
	color: #ffffff;
	
	text-transform: uppercase;
	text-decoration: underline;
	padding-bottom: .5em;
	text-decoration-color: #212333;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
	letter-spacing: .2em;
	padding: .5em;
}

header:before {

    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to right, #eef2f3, #8e9eab);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	opacity: .1; 
  }

/*   //gallery css */

.gallery {
	padding: 5em;
	margin: 0 auto;
	text-align: left;
}
.gallery{
	height:100vh;
}
.gallery-wrapper{
height: 100%;
padding: 25px 50px;
	margin: 0 auto;
}
.box{
	border: 1px solid black;
	width: 48%;
	
	height: 50%;
	
	display: inline-flex;
	justify-content: space-between;
	background-size: contain;
	background-repeat: no-repeat;
-webkit-filter: grayscale(100%);	
filter:grayscale(100%);


}

.box1{
	background: url("../unnamed%20%281%29.jpg");

}

.box2{
	background: url('../unnamed.jpg');
}
.noback {
	background: white;

}
.box3{
	background: url('../both.jpg');

opacity: .2;
	margin: 0 auto;
filter:grayscale(0%);
	text-align: center;
	height: 50%;
margin: 2em;
border-top: 4px solid rgba(21,201,213,0.54);
}